<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="oswos:SettingsWebsitePath" value="C:\Users\digitalhardc0r3\Documents\Visual Studio 2012\Projects\Oswos\Oswos.Website.Settings"/>
  </appSettings>
  
  <connectionStrings>
    <add name="OswosDatabaseEntities"
         connectionString="metadata=res://*/OswosDataModel.csdl|res://*/OswosDataModel.ssdl|res://*/OswosDataModel.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;data source=|DataDirectory|\OswosDatabase.sdf&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spark" publicKeyToken="7f8549eed921a12c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>